@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome SreeTechOps</h1>
    <div class="tenor-gif-embed" data-postid="12034314" data-share-method="host" data-aspect-ratio="1.5894" data-width="100%"><a href="https://tenor.com/view/peace-calm-brahmi-telugu-telugucomedy-gif-12034314">Peace Calm GIF</a>from <a href="https://tenor.com/search/peace-gifs">Peace GIFs</a></div> <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
